name: Deploy-to-Vercel-Staging

on:
  workflow_run:
    workflows: ["DB-Migrations-Staging"] # Must match the name in the first file
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    # Only run if the migration workflow succeeded
    if: >
      github.event.workflow_run.conclusion == 'success' && 
      github.event.workflow_run.head_branch == 'staging'
    environment: staging
    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install Vercel CLI
        run: pnpm add -g vercel

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview

      - name: Build Project Artifacts
        run: vercel build

      - name: Deploy to Vercel
        run: vercel deploy --prebuilt
