name: Apply DB Migrations (Staging)

on:
  push:
    branches:
      - staging

jobs:
  migrations:
    runs-on: ubuntu-latest

    steps:
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9 # Matches the current stable pnpm version

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm" # Automatically caches based on pnpm-lock.yaml

      - name: Install dependencies
        # pnpm is strict and will use your new pnpm-lock.yaml
        run: pnpm install --frozen-lockfile
