name: Apply DB Migrations (Staging)

on:
  push:
    branches:
      - staging

jobs:
  migrations:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - run: |
          npm ci || cat /home/runner/.npm/_logs/*-debug-0.log
      - name: Apply migrations
        run: npx drizzle-kit push
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL_STAGING }}
